.Weather {
  max-width: 50%;
  margin: 0 auto;
  background-color: aqua;
  text-align: center;
}
.weather-container {
  display: flex;
  justify-content: space-evenly;
}

.weather-forecast {
  display: flex;
  justify-content: space-evenly;
  background-color: yellow;
}
